<section id="content">
    <h1>Create you own TODO list</h1>
    <input id="taskInput" placeholder="What needs to be done?"/>
    <input type="button" id="addButton" value="Add"/>
    <table>
        <thead>
            <tr>
                <th id="task-column">Task</th>
                <th>Done?</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
