<section id="content">
    <h1>Create you own DATA ORGANISER list</h1>
    <input id="ctgry-input" placeholder="Add New Category"/>
    <input type="button" id="ctgry-button" value="Add"/>
    
    <ul id="breadCrumbContainer">
    
    </ul>
    <aside>
        <p>CATEGORIES</p>
        <ul id="ctgry-list">
        </ul>
    <aside>
</section>
