<section>
    <p id="title">DATA ORGANISER</p> 

    <ul id="bread-crumb-container">
    </ul>

    <aside id="ctgry-list-bar">
        <p>CATEGORIES</p>
        <ul id="ctgry-list">
        </ul>
        <p><input id="ctgry-input" placeholder="Add New Category"/></p>
        <p><input type="button" id="ctgry-button" value="Add"/></p>
    </aside>
    <article id="content">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Link/Data</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <textarea id="content-desc" placeholder="Description"></textarea>
        <textarea id="content-data" placeholder="Link/Data"></textarea>
        <p><input type="button" id="content-button" value="Add"/></p>
    </article>
</section>
