<section id="content">
    <h1>Create you own DATA ORGANISER list</h1>
    <input id="ctgry-input" placeholder="Add New Category"/>
    <input type="button" id="ctgry-button" value="Add"/>
    <select id="ctgry-list">
        <option>all</option>
    </select>
    
</section>
