body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li:hover {
  cursor: pointer;
}

#title {
  text-align: center;
  color: gray;
  padding: 30px;
  background: black;
}

#bread-crumb-container {
  padding: 12px;
  background: #eeeeee;
}

#bread-crumb-container li{
  display: inline;
  /* margin: 5px;
  padding: 6px;
  background: #112233;
  border-radius: 3px;
  color: white; */
}

#ctgry-list-bar {
  width: 15%;
  float: left;
  height: 2000px;
  padding: 10px;
  background: #eeeeee;
}

#ctgry-list-bar p{
  text-align: center;
  color: gray;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#ctgry-list-bar ul{
  padding-left: 0;
}

#ctgry-list-bar li{
  list-style-type: none;
  padding: 5px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: gray;
  padding-left: 10px;
}

#ctgry-input {
 /*  width: 85%;
  padding: 5px;
  margin: 5px 0;
  text-align: center; */
}

#ctgry-button {
 /*  width: 50%;
  padding: 5px;
  text-align: center; */
}

.button-container-center {
  text-align: center;
}

#content, #bread-crumb-container, #ctgry-list-bar {
  display: none;
}

#recentActivity {
  display: none;
}

#main {
  margin-left: 15%;
  padding: 10px;
}

#content table {
  /* margin: 10px; */
}

#content-data, #content-desc, #content-button {
  /* width: 90%;
  max-width: 90%;
  margin: 10px;
  padding: 10px; */
}

#add-contents-form {
  margin-top: 50px;
  visibility: hidden;
}