body {
  font-family: 'Raleway', sans-serif;
  color: gray;
  padding: 25px 50px;
  background: #ccddee;
}

#content, #bread-crumb-container, #ctgry-list-bar, #recentActivity, #main {
  display: none;
}

#home-list {
  color: gray;
}

li:hover {
  cursor: pointer;
}

.r1 {
  background: black;
}

.r2 {
  background: #445566;
  padding: 20px;
}

#home-container {
  font-size: 20px;
  color: orange;
}

#start-button-container {
  text-align: center;
  margin-top: 25px;
}

#bread-crumb-container {
  padding: 12px;
  background: #eeeeee;
}

#bread-crumb-container li{
  display: inline;
}

#ctgry-list-bar {
  background-color: #eeeeee;
  padding: 20px;
}

#ctgry-list-bar li{
  color: gray;
}

.button-container-center {
  text-align: center;
}

#add-contents-form {
  margin-top: 50px;
  visibility: hidden;
}

#main {
  background: white;
  padding: 15px;
}
