body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li:hover {
  cursor: pointer;
}

#breadCrumbContainer li{
  display: inline;
  margin: 5px;
}